<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Shows a summary of HTML tags on a page">
    <meta name="application-name" content="Tagscraper">
    <meta name="author" content="Ansh Ratnam">

    <title>Tagscraper</title>

    <!-- Custom styles -->
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
  </head>

  <body>

    <div class='container'>
      <form id="searchForm" accept-charset="utf-8">
        <input id="webpage" type="url" name="target">
        <input id="submit" type="submit" value="View Summary">
      </form>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
